@model IEnumerable<Lekan_Donation.Models.Signup>

@{
    ViewBag.Title = "Index";
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.First_name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Last_name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.E_mail)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.phone_no)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.First_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.E_mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@Html.Partial("_footer")
