@model IEnumerable<Lekan_Donation.Models.LogIn>


<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Pass)
        </th>
    </tr>
        </thead>    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pass)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </tbody>

</table><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
@Html.Partial("_footer")
